{% extends 'base.html.twig' %}

{% block title %}{% endblock %}





{% block body %}

<article>
 {% for message in app.flashes('info') %}
  <div class="alert alert-danger" role="alert">
   
        {{ message }}
		</div>
{% endfor %}

<div class="container  min-vh-100   d-flex justify-content-center align-items-center  ">
	<div class="container      d-flex justify-content-center align-items-center  shadow-lg p-3 mb-10  rounded " style="background-color:#4B0082">
		<main class="border  w-75 text-center  p-2 text-dark   shadow-lg p-3 mb-5  rounded"  style="background-color:#4B0082">
			<div class="py-5 text-center">

				<h1 class="text-white">Renseigner les informations du Maire 
					{{ form_errors(registrationForm) }}</h1>


			</div>

			<div class="row g-3 justify-content-center text-white">

				<div class="col-md-7 col-lg-8">
				{{ form_start(registrationForm, {'action': path('app_admin_ajouterMaire',{id:idCommune}),'attr': {'novalidate': '','class':'needs-validation' }}) }}
					
					<div class="row g-3">
						<div class="col-sm-6">
							{{ form_label(registrationForm.nom, 'NOM DU Maire', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.nom) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.nom) }}
							</div>
						</div>

						<div class="col-sm-6">
							{{ form_label(registrationForm.prenom, 'PRENOM DU Maire', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.prenom) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.prenom) }}
							</div>
						</div>

						<div class="col-sm-12">
							{{ form_label(registrationForm.lieunaissance, 'LIEU DE NAISSANCE DU Maire', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.lieunaissance) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.lieunaissance) }}
							</div>
						</div>

						<div class="col-sm-12">
							{{ form_label(registrationForm.datenaissance, 'DATE DE NAISSANCE DU Maire', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.datenaissance) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.datenaissance) }}
							</div>
						</div>

						<div class="col-sm-12">
							{{ form_label(registrationForm.fonction, 'FONCTION DU Maire', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.fonction) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.fonction) }}
							</div>
						</div>

						<div class="col-sm-12">
							{{ form_label(registrationForm.telephone, 'TELEPHONE DU Maire', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(registrationForm.telephone) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.telephone) }}
							</div>
						</div>


						<div class="col-12">
							{{ form_label(registrationForm.email, 'EMAIL DU Maire', {'label_attr': {'class': 'form-label'}}) }}

							{{ form_widget(registrationForm.email) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.email) }}
							</div>
						</div>
						<div class="col-12">
							{{ form_label(registrationForm.plainPassword.first, 'MOT DE PASSE PAR DEFAUT DU Maire', {'label_attr': {'class': 'form-label'}}) }}

							{{ form_widget(registrationForm.plainPassword.first) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.plainPassword.first) }}
							</div>
						</div>
						<div class="col-12">
							{{ form_label(registrationForm.plainPassword.second, 'CONFIRMATION DU MOT DE PASSE', {'label_attr': {'class': 'form-label'}}) }}

							{{ form_widget(registrationForm.plainPassword.second) }}
							<div class="invalid-feedback">
								obligatoire!
							</div>
							<div class='text-danger'>
								{{ form_errors(registrationForm.plainPassword.first) }}
							</div>
						</div>
						
		
						<div class="col-sm-6 ">
							{{ form_row(registrationForm.valider) }}
						</div>

						<div class="col-sm-6">
							<button class="w-100 btn btn-danger btn-lg border border-white" type="reset">réinitialiser</button>

						</div>


						{{ form_end(registrationForm) }}
					</div>
				</div>
			</main>
			</div>

			<div class="mx-auto" style="height: 200px;">
		</div>

</div>
</article>
	{% endblock %}
	{% block javascripts %}
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
 




	
	{% endblock %}
