<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{asset('node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
         <link href="{{asset('node_modules/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('node_modules/@fortawesome/fontawesome-free/css/fontawesome.css')}}" rel="stylesheet">
    <link href="{{asset('node_modules/@fortawesome/fontawesome-free/css/brands.css')}}" rel="stylesheet">
    <link href="{{asset('node_modules/@fortawesome/fontawesome-free/css/solid.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800,200" rel="stylesheet">
    </head>

        {% block stylesheets %}
        
        {% endblock %}

        
    </head>
    <body>
    
    
       
        {% block nav %} {% endblock %}
         {% block header %}  {% endblock %}
        {% block body %} {% endblock %}
        {% block footer %}  {% endblock %}
        
            <script src="{{asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
        {% block javascripts %}
        {% endblock %}
        
    </body>
</html>
