<div class="container">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/>
				<img src="{{asset('node_modules/img/photos/unnamed.jpg')}}" class="w-full"></img>
		</svg>
	</a>

	<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
		<li>
			<a href="{{path('app_accueil')}}" class="btn btn-outline-primary me-2">Accueil</a>
		</li>
		<li>
			<a href="#a-propos" class="btn btn-outline-primary me-2">A propos</a>
		</li>
		<li>
			<a href="#nos-contacts" class="btn btn-outline-primary me-2">Nos Contacts</a>
		</li>
	</ul>

	<div class="col-md-3 text-end">
		<a href="{{path('app_login')}}">
			<button type="button" class="btn btn-outline-primary me-2">Connexion</button>
		</a>
		<a href="{{path('app_register')}}">
			<button type="button" class="btn btn-primary">Inscription</button>
		</a>
	</div>
</header></div><!--<div class="mx-auto" style="height: 100px;"></div>-->{# <div class="container shadow-lg p-3 mb-10  "> #}<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-indicators">
	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
	<div class="carousel-item active">

		<img src="{{asset('node_modules/img/photos/M22.jpg')}}" class="w-full"></img>
	<rect width="100%" height="100%" fill="#777"/>
</svg>
<div class="container">
	<div class="carousel-caption text-start">
		<p>Chaque citoyen doit s'inscrire pour accéder à son
		</p>
		<p>
			<a class="btn btn-lg btn-primary" href="/register">S'inscrire</a>
		</p>
	</div>
</div></div><div class="carousel-item">

<img src="{{asset('node_modules/img/photos/qr-c.jpg')}}" class="w-full"></img></svg><div class="container"><div class="carousel-caption"></div></div></div><div class="carousel-item"><img src="{{asset('node_modules/img/photos/GK.jpg')}}" class="w-full"></img><div class="container"><div class="carousel-caption text-end"></div></div></div></div><button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button><button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button></div><style>.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media(min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}</style><main><!-- Marketing messaging and featurettes
	  ================================================== --><!-- Wrap the rest of the page in another container to center all the content. --><divclass="container marketing"> <!-- Three columns of text below the carousel --><div class="row"><!-- /.col-lg-4 --><!-- /.col-lg-4 --><!-- /.col-lg-4 --></div><!-- /.row --><!-- START THE FEATURETTES --><hr class="featurette-divider"><section id="a-propos"><div class="row featurette"><div class="col-md-7"><h1 class="featurette-heading fw-normal lh-1">
<span class="text-muted">Description de l'application</span></h1><p class="lead">
<strong>
	Une plateforme de gestion de certificats de domicile est un outil en ligne conçu pour faciliter le processus de délivrance et 
	        de gestion des certificats de domicile. Les fonctionnalités peuvent inclure des formulaires en ligne pour la demande de certificats, un système de suivi des demandes,
	        la vérification automatisée des informations et des documents requis, la délivrance en ligne de certificats électroniques sécurisés, 
	        ainsi que des outils de gestion des certificats, tels que la mise à jour des informations et la notification en cas d'expiration. 
	        La plateforme peut être accessible par les citoyens, les autorités locales et les agents immobiliers, ce qui simplifie le processus 
	        de délivrance et de gestion des certificats de domicile pour toutes les parties impliquées.</strong></p></div><div class="col-md-5"><svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="30" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
<img src="{{asset('node_modules/img/photos/P1.jpg')}}"/></svg></div></div></section><hr class="featurette-divider"><div class="row featurette"><div class="col-md-7 order-md-2"><h2 class="featurette-heading fw-right lh-1"><span class="text-muted" style=" margin-left:30px;">Comment obtenir un certificat de domicile ?</span></h2><p class="lead" style="text-align:left; margin-left:40px;"><strong>
Au Sénégal, un certificat de domicile peut être délivré à toute personne disposant d'une résidence fixe dans le pays. 
                Les documents requis pour obtenir un certificat de domicile peuvent varier selon la mairie, mais en général, 
                les pièces suivantes sont nécessaires :
                  Une preuve d'identité valide (carte d'identité nationale, passeport)
                  Une preuve de la résidence (facture d'électricité, de gaz, de téléphone, contrat de location)
                  Une demande écrite signée par le demandeur.
                  Un habitant doit s'inscrire dans un quartier en fournissant les documents ci-dessous.Le delegue chargé de ce quartier
                  doit soit accepter soit refuser si celui ne fait pas parti de son quartier.
                  Lorsqu'un habitant est accepté dans un quartier,ce dernier peut faire une demande de certificat de domicile qu'il 
                  pourra telecharger que si le delegue accepte de lui en fournir un.</strong></p></div><div class="col-md-5 order-md-1"><svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="10" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false" style="justify:left;"><img src="{{asset('node_modules/img/photos/maxresdefault-Récupéré.jpg')}}" style="align:right;padding-right:50px;"/></svg></div></div><hr class="featurette-divider"><section id="nos-contacts"><div class="row featurette"><div class="col-md-7"><h2 class="featurette-heading fw-normal lh-1">
<span class="text-muted">Nos Contacts.</span></h2>
<p class="lead">
<strong>

	Nous sommes à votre disposition pour toute question ou demande concernant notre plateforme de gestion de certificats de domicile.<br>
	<u>Adresse</u><br>
	  Dakar,Sénégal<br>
	<u>Téléphone</u><br>
  <i class="fa fa-phone-alt me-3"></i>
	 +33 871 63 63<br>
	<u>Email</u><br>
  <i class="fa fa-envelope me-3"></i>
	contact@domicile.com<br>
	<u>Support technique</u><br>
	Si vous avez besoin d'aide technique, veuillez contacter notre équipe de support technique :<br>
	
			<u>Téléphone:</u><br>
      <i class="fa fa-phone-alt me-3"></i>
			+33 1 23 45 67 89<br>
		
			<u>Email :</u><br>
      <i class="fa fa-envelope me-3"></i>
			support@domicile.com
	
	<h2>Réseaux Sociaux</h2>
	<ul>
		<li>
    
			<a href="https://www.facebook.com/votreentreprise"></i>Facebook</a>
		</li>
		<li>
			<a href="https://twitter.com/votreentreprise">Twitter</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/company/votreentreprise">LinkedIn</a>
		</li>
	</ul>
	Nous vous remercions de votre intérêt pour notre plateforme de gestion de certificats de domicile et sommes impatients de vous aider à résoudre tout problème que vous pourriez rencontrer.
</strong>
</p>
</div>
<div class="col-md-5"><svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="30" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
<text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
<img src="{{asset('node_modules/img/photos/p9.jpg')}}"></img></svg></div></div></section><hrclass="featurette-divider"><!-- /END THE FEATURETTES --></div><!-- /.container --></main>
